NationalParks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name = "Address">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Zip" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name = "National_Park">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Phone" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="Address" type = "Address" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="Rating" type="xsd:float" use="optional"/>
	</xsd:complexType>
	<xsd:element name = "National_Parks">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="National_Park" type = "National_Park" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>